name CA or name C or name N or name O or name OT1 or name OT2 or name HA or name H1 or name H2 or name H3 or name HN or name H or name O1 or name O2 or name HN1 or name HN2 or name HT2
resid 1 and not (name N or name C or name O or name CA or name HA or name H1 or name H2 or name H3 or name HN or name H or name HN1 or name HN2)
resid 2 and not (name N or name HN or name C or name OT1 or name CA or name HA or name OT2 or name O1 or name O2 or name H or name HT2s)
